<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>注册</title>
</head>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<body>
<div id="divMain">
    <div style="padding: 10px 15px">
        <center bgcolor="#FFFFFF" style="margin: 0; padding: 0; background-color: #FFFFFF;">
            <table bgcolor="#002650" width="100%" cellspacing="0" cellpadding="0" border="0"
                   style="width: 100%; min-width: 100%; border-spacing: 0; border-collapse: collapse; word-wrap: break-word; word-break: break-word; -ms-word-break: break-word; overflow-wrap: break-word;"
                   id="loginTable">
                <tr>
                    <td
                        style=" font-size: 14px; font-weight: 300; line-height: 24px; text-align: left; padding: 0 40px; color: #bbbbbb;">
                        <p style="font-size: 16px">用户名</p>
                    </td>
                    <td
                        style=" font-size: 14px; font-weight: 300; line-height: 24px; text-align: left; padding: 0 40px; color: #bbbbbb;">
                        <input id="loginValue" placeholder="用户名"/>
                    </td>
                </tr>
                <tr>
                    <td
                        style=" font-size: 14px; font-weight: 300; line-height: 24px; text-align: left; padding: 0 40px; color: #bbbbbb;">
                        <p style="font-size: 16px">密码</p>
                    </td>
                    <td
                        style=" font-size: 14px; font-weight: 300; line-height: 24px; text-align: left; padding: 0 40px; color: #bbbbbb;">
                        <input id="password" type="password"
                               placeholder="密码"/>
                    </td>
                </tr>
                <tr>
                    <td
                        style=" font-size: 14px; font-weight: 300; line-height: 24px; text-align: left; padding: 0 40px; color: #bbbbbb;">
                        <p style="font-size: 16px">角色名</p>
                    </td>
                    <td
                        style=" font-size: 14px; font-weight: 300; line-height: 24px; text-align: left; padding: 0 40px; color: #bbbbbb;">
                        <input id="nickName" placeholder="角色名"/>
                    </td>
                </tr>
                <tr>
                    <td style=" font-size: 14px; font-weight: 300; line-height: 24px; text-align: left; padding: 20px 20px; color: #bbbbbb;">
                        <button id="register"
                                style="background-color: #4CAF50; border: none;font-size: 14px;">
                            注 册
                        </button>
                    </td>
                </tr>
            </table>
        </center>
    </div>
</div>

</body>
<script type="text/javascript">
    $('#register').click(function () {
        //拼接参数
        let postData = {
            loginValue: $('#loginValue').val(),
            nickName: $('#nickName').val(),
            password: $('#password').val()
        }
        $.ajax({
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            url: "/enter/register",
            data: JSON.stringify(postData),
            success: function (result) {
                var rst = JSON.parse(result)
                if (rst.control.error === 0) {
                    window.open(location.origin + "/toMyPage?access-token=" + rst.data, "_self");
                } else {
                    alert(rst.control.message);
                }
            },
            error: function (result) {
                alert("注册失败");
            }
        });
    });
</script>
</html>